*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #444;
    color: #eee;
}
#keyboardArea {
    background: #014b4b;
    padding: 10px 5px;
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 2;
}
.row {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
    margin: 5px auto;
}
.key {
    background: darkcyan;
    width: 90px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}
.key:hover {
    background: #1a6464;
}
.space {
    width: 500px;
}
.backspace {
    flex-shrink: 0;
    width: 174px;
}
.capsLock {
    font-size: 13px;
}